# general
*.swp
*~
*.tgz
*.DS_Store
*.fits
*.dat
SMA2012_Serpens/*.pdf
SMA2012_Serpens/Biblio/*.pdf
results/orionkl/*.pdf
compressed/
*.pyc
userguide_US.pdf
login.md

# gildas things
*.gdf

# miriad things
tsys*
all-tsys
*_tsys_
*_tsys_applied*
*_tsys_phasechanged*
*.swap
*.flgd
*.pa
*.tsys
*.vis
*.mp
*.bm
*.chi
*.flux
*.bp
*.usb
*.lsb
*.paerr
*.lsb.*
*.usb.*
*_usb
*_lsb
*.poli
*.polm
*.pf
*.polmerr
*.polierr
*.cl
*.cm
*.im
*.stokes
*.unflagged
*.win21
*.aver
*.win4
*.unif
*.cc
*.perc
*.cal
*.ll
*.rr
*.lr
*.rl
*.slfc
*.uncorrected
baseline_corrected

# Josep Miquel things
MAP_LINES/
MAP_POL
RESIDU/
UVDATA/
UVDATAOld/
UV_data/
MAPS/
MAPScorrect/
UVoffsetCORRECT/
tmp.*/
smc.6_sio87.m0/
smc6-so_9887

# Ram things
first_part
second_part
both_parts_merged

# idl things
bl_read
codes_read
plot_me_5_rx0
sch_read
sp_read
tsys_read
we_read
eng_read
in_read

# fortran thing
*.f
cgdisp-vec
cgdispN
uvspec
uvswap2
*.so
